#!/bin/bash
set -x

cd {{ ovn_migration_working_dir }}
logs=$(ls {{ validations_type }}/validate*log)
outfile=$1
[ -e $outfile ] && rm -f $outfile

echo "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" >> $outfile
echo "<testsuites>" >> $outfile
echo "<testsuite name=\"OVN Migration validations\">" >> $outfile

for log in $logs;do

  while read line; do

    if [[ $line =~ ^TEST* ]]; then
            file_name=$(echo $log | sed 's/.*\/\(.*\)\.sh\.log/\1/')
	    test_name=$(echo $line | awk '{print $2}')
	    classname="{{ validations_type }}.$file_name"
            echo "<testcase classname=\"$classname\" name=\"$test_name\">" >> $outfile
    fi

    if [[ $line =~ ^SKIPPED ]]; then
	    echo "<skipped>$line</skipped>" >> $outfile
            echo "</testcase>" >> $outfile
    fi

    if [[ $line =~ ^FAIL ]]; then
	    echo "<failure>$line</failure>" >> $outfile
            echo "</testcase>" >> $outfile
    fi


    if [[ $line =~ ^PASS ]]; then
            echo "</testcase>" >> $outfile
    fi

  done < $log

done

echo "</testsuite>" >> $outfile
echo "</testsuites>" >> $outfile
tests=$(grep '<testcase' $outfile | wc -l)
failures=$(grep '<failure' $outfile | wc -l)
skipped=$(grep '<skipped' $outfile | wc -l)
sed -i "s/\(<testsuite\ .*\)>/\1 tests=\"$tests\" failures=\"$failures\" skipped=\"$skipped\">/" $outfile
