#!/bin/bash

export PUBLIC_NETWORK_NAME={{ public_network }}
export OPT_WORKDIR={{ ovn_migration_working_dir }}
export STACK_NAME={{ stack_name }}
export UNDERCLOUD_NODE_USER={{ overcloud_ssh_user }}
export OVERCLOUDRC_FILE={{ overcloudrc }}
export VALIDATE_MIGRATION={{ create_validation_workload }}
export CREATE_BACKUP={{ install.create_backup }}
export BACKUP_MIGRATION_IP={{ install.backup_migration_ip }}
if [ '{{ export_image }}' == 'True' ]; then
  export IMAGE_NAME={{ image_to_boot }}
  export FLAVOR_NAME={{ flavor_to_use }}
  export SERVER_USER_NAME={{ server_user_name }}
fi

/usr/bin/ovn_migration.sh $1
