#!/bin/bash
set -x
. {{ overcloudrc }}

openstack network agent list -c Alive -c Binary -f value | tee /tmp/agents

case "$1" in
    ovs)
	echo TEST: test_ovs_agents_status_before_migration
        while read -r status agent; do
            if [ "$status" != "True" ]; then
		 echo "FAIL: Bad status of '${agent}': '$status'"
		 exit
	    fi
        done < /tmp/agents
        ;;

    ovn)
	echo TEST: test_ovn_agents_after_migration
        valid_ovn_agents='ovn-controller networking-ovn-metadata-agent neutron-sriov-nic-agent neutron-ovn-metadata-agent'
        while read -r status agent; do
            if [[ "$valid_ovn_agents" =~ $agent ]]; then
                if [ "$status" != "True" ]; then
		    echo "FAIL: Bad status of '${agent}': '$status'"
		    exit
		fi
            else
                echo "FAIL: Network agent '$agent' is invalid for OVN"
                exit
            fi
        done < /tmp/agents
        ;;

    *)
        echo "FAIL: Mechanism driver '$1' is invalid"
        exit
esac
echo PASS
