#!/bin/bash

set -x

source {{ ovn_migration_temp_dir }}/pinger_venv/bin/activate

pinger_ips=""
for ip in `cat {{ ovn_migration_temp_dir }}/server_fips`
do
    pinger_ips="$pinger_ips $ip"
done

if [ -s {{ ovn_migration_temp_dir }}/server_ipv6_addresses ]; then
    for ip in `cat {{ ovn_migration_temp_dir }}/server_ipv6_addresses`
    do
        pinger_ips="$pinger_ips $ip"
    done
fi

echo "pinger ips = $pinger_ips"

echo "calling pinger.py"
python {{ ovn_migration_temp_dir }}/pinger.py $pinger_ips

echo "Exiting..."
