---
parameter_defaults:
{% if not install.network.render.templates|default(False) %}
    ExternalNetCidr: '10.218.0.0/24'
    ExternalAllocationPools: [{'start': '10.218.0.100', 'end': '10.218.0.149'}]
    ExternalInterfaceDefaultRoute: '10.218.0.10'
    ExternalNetworkVlanID: 218
    PublicVirtualFixedIPs: [{"ip_address":"10.218.0.100"}]
    InternalApiNetCidr: '172.17.1.0/24'
    InternalApiAllocationPools: [{'start': '172.17.1.4', 'end': '172.17.1.250'}]
    InternalApiNetworkVlanID: 20
    StorageNetCidr: '172.17.3.0/24'
    StorageAllocationPools: [{'start': '172.17.3.4', 'end': '172.17.3.250'}]
    StorageNetworkVlanID: 30
    StorageMgmtNetCidr: '172.17.4.0/24'
    StorageMgmtAllocationPools: [{'start': '172.17.4.4', 'end': '172.17.4.250'}]
    StorageMgmtNetworkVlanID: 40
    TenantNetCidr: '172.17.2.0/24'
    TenantAllocationPools: [{'start': '172.17.2.4', 'end': '172.17.2.250'}]
    TenantNetworkVlanID: 50
{% endif %}
    DnsServers: ['10.0.0.1', '172.16.0.1']
    ControlPlaneDefaultRoute: '192.168.24.1'
    EC2MetadataIp: '192.168.24.1'
    ControlPlaneSubnetCidr: "24"
    NtpServer: ["clock.corp.redhat.com"]
    NeutronBridgeMappings: "datacentre:br-ex,tenant:br-isolated"
    NeutronNetworkVLANRanges: "tenant:1000:2000,datacentre:218:218"
    NeutronNetworkType: 'geneve,vlan'
    NeutronTypeDrivers: 'geneve,vlan'
    NeutronExternalNetworkBridge: ''
    NeutronTunnelTypes: 'geneve,vlan'
    NetworkerParameters:
        OVNCMSOptions: "enable-chassis-as-gw"
    ControllerParameters:
        OVNCMSOptions: ""
{% if install.network.backend == 'vlan' %}
    NeutronGlobalPhysnetMtu: 8996
{% else %}
    NeutronGlobalPhysnetMtu: 9000
{% endif %}
    NeutronExternalNetworkBridge: "br-ex"
# This should be only for OSP > 16, and ovn_emit_need_to_frag: True below
    OVNEmitNeedToFrag: True
    ExtraConfig:
      neutron::plugins::ml2::path_mtu: 9000
      neutron::plugins::ml2::ovn::ovn_emit_need_to_frag: True
parameter_merge_strategies:
    ExtraConfig: merge
